@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Prompt&display=swap');

body {
  font-family: 'Prompt', sans-serif;
}
  

.font-abhaya {
  font-family: 'Abhaya Libre', serif;
}